html, body {
    width: 100%;
    -webkit-app-region: drag;
    margin: 0;
}

#content {
    padding: 5px;
}

button, input {
    -webkit-app-region: no-drag;
}

.inline-flex {
    display: inline-flex !important;
}

input {
    margin-bottom: 0.5em;
    font-size: 16px;
    padding: 0.5em;
}

input[type='text'] {
    width: 160px;
}

input[type='submit'] {
    margin-bottom: 0;
    border-radius: 0;
    padding: 0.5em;
    border: none;
    background: darkblue;
    color: white;
}

button.cancel {
    border-radius: 0;
    padding: 0.5em;
    border: none;
    background: darkgrey;
    color: white;
    font-size: 16px;
    margin-left: 1em;
}

a, i.fa {
    -webkit-app-region: no-drag;
}

kbd {
    background-color: #ededed;
    color: #222222;
    border: 1px solid #dddddd;
    font-family: "Consolas", "Menlo", "Courier", monospace;
    font-size: inherit;
    margin: 0;
    border-radius: 3px;
    line-height: 15px;
}